
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<div class="container crsContainer">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <a href="https://www.nvidia.com/tr-tr/">
                <div class="carousel-item active">
                    <img src="~/Images/nvidiaBanner.jpg" class="d-block w-100 bannerHeight" alt="NVIDIA">
                </div>
            </a>
            <a href="https://www.apple.com/">
                <div class="carousel-item">
                    <img src="~/Images/iphone14.jpeg" class="d-block w-100 bannerHeight" alt="Iphone14" />
                </div>
            </a>
            <a href="https://www.samsung.com/>">
                <div class="carousel-item">
                    <img src="~/Images/s22.jpg" class="d-block w-100 bannerHeight" alt="Samsung S22">
                </div>
            </a>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>





    <div class="row" style="margin-top:2%">
        <div class="col-1 d-flex justify-content-center">
            <p>Telefonlar</p>
        </div>
        <div class="col-11">
            <hr class="new4"></hr>
        </div>

    </div>
    <div style="margin-top:2%">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card cardSpec" style="width: 18rem; height:18rem">
                    <a href="https://www.google.com">
                        <img src="~/Images/ip14.jpg" class="card-img-top image" alt="ip14">
                    </a>
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Iphone14 Pro Max</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card cardSpec" style="width: 18rem; height:18rem">
                    <a href="https://www.google.com">
                        <img src="~/Images/ip14.jpg" class="card-img-top image" alt="ip14">
                    </a>
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Iphone14 Pro Max</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card cardSpec" style="width: 18rem; height:18rem">
                    <a href="https://www.google.com">
                        <img src="~/Images/ip14.jpg" class="card-img-top image" alt="ip14">
                    </a>
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Iphone14 Pro Max</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card cardSpec" style="width: 18rem; height:18rem">
                    <a href="https://www.google.com">
                        <img src="~/Images/ip14.jpg" class="card-img-top image" alt="ip14">
                    </a>
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Iphone14 Pro Max</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div>
        <section class="technological-category">

            <div class="category-container">
                <div class="category-item">
                    <div class="category-image">
                        <img src="~/Images/telefon.png" alt="Telefonlar">
                    </div>
                    <div class="category-title">Telefonlar</div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <img src="~/Images/bilgisayar.png" alt="Bilgisayarlar">
                    </div>
                    <div class="category-title">Bilgisayar</div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <img src="~/Images/oyunVeHobi.png" alt="Oyun ve Hobi">
                    </div>
                    <div class="category-title">Oyun ve Hobi</div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <img src="~/Images/Aksesuar.png" alt="Aksesuarlar">
                    </div>
                    <div class="category-title">Aksesuarlar</div>
                </div>
                <div class="category-item">
                    <div class="category-image">
                        <img src="~/Images/cevre-birim.png" alt="Çevre Birimleri">
                    </div>
                    <div class="category-title">Çevre Birimleri</div>
                </div>
            </div>
        </section>
    </div>


    <div class="row" style="margin-top:2%">
        <div class="col-1 d-flex justify-content-center">
            <p>Telefonlar</p>
        </div>
        <div class="col-11">
            <hr class="new4"></hr>
        </div>

    </div>
    <div style="margin-top:2%">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card cardSpec" style="width: 18rem; height:18rem">
                    <a href="https://www.google.com">
                        <img src="~/Images/ip14.jpg" class="card-img-top image" alt="ip14">
                    </a>
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Iphone14 Pro Max</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card cardSpec" style="width: 18rem; height:18rem">
                    <a href="https://www.google.com">
                        <img src="~/Images/ip14.jpg" class="card-img-top image" alt="ip14">
                    </a>
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Iphone14 Pro Max</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card cardSpec" style="width: 18rem; height:18rem">
                    <a href="https://www.google.com">
                        <img src="~/Images/ip14.jpg" class="card-img-top image" alt="ip14">
                    </a>
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Iphone14 Pro Max</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card cardSpec" style="width: 18rem; height:18rem">
                    <a href="https://www.google.com">
                        <img src="~/Images/ip14.jpg" class="card-img-top image" alt="ip14">
                    </a>
                    <div class="card-body">
                        <p class="card-text d-flex justify-content-center">Iphone14 Pro Max</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Çok Satan Markalar</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img src="~/Images/appleLogo.png" width="100" height="150" alt="Marka 1" class="card-img-top">
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img src="~/Images/Samsung.png" width="100" height="150" alt="Marka 2" class="card-img-top">
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img src="~/Images/lenovoLogo.png" width="100" height="150" alt="Marka 3" class="card-img-top">
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <img src="~/Images/asus.png" width="100" height="150" alt="Marka 4" class="card-img-top">
            </div>
        </div>
    </div>
</div>

