
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<!DOCTYPE html>
<html>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Hesabım</a></li>
                        <li class="breadcrumb-item"><a href="#">Profil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Kullanıcı Profili</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://e7.pngegg.com/pngimages/555/703/png-clipart-computer-icons-avatar-woman-user-avatar-face-heroes-thumbnail.png" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 235px;">
                        <h5 class="my-3">Zeynep Efe</h5>
                        <p class="text-muted mb-1"> BZMTeknoMarket Müşteri </p>
                        <p class="text-muted mb-4">Zonguldak,Türkiye </p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Favoriler</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Sepetim</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 mb-lg-0">
                    <div class="card-body p-0">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">İsim Soyisim </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Zeynep Efe</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">example@example.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telefon</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">0(123) 456-7890</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Adres</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Zonguldak,Türkiye</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mb-4>
                            <div class="card-body">
                                <p class="mb-3">
                                    <span class="text-primary font-italic me-1"></span> Değerlendirme Oranları
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Ürün Değerlendirmelerim</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Satıcı Değerlendirmelerim</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 52%" aria-valuenow="52"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Kargo Şirketi Değerlendirmelerim</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 22%" aria-valuenow="22"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Yorum Oranlarım</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4"
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-body text-center">
                        <span class="text-primary font-italic me-1">İNDİRİM KUPONU KAZANMA ŞANSI</span> Değerlendirme barları tamamen dolduktan sonra 100 BZM Lira hesabınıza tanımlanacaktır.
                    </p>
                    <div class="container mt-4">

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" style="width:86%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>
    </div>
    </div>
</section>
</html>
            }

