
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<link href="~/vendor/Hizmetler.css" rel="stylesheet" />

                                 <div class="container pb-lg-5"> 

                                     <h1 style="padding-bottom:50px;padding-top:25px;">Hizmetler</h1>

                                     <div class="mm-content-row">
                                         <div class="mm-icon-side">
                                             <ul class="mm-service-icon">

                                                 <img width="55" height="55" src="https://w7.pngwing.com/pngs/262/105/png-transparent-brand-design-white-shield-antivirus.png">

                                                 <h2>Anti Virüs Hizmet Paketi </h2>
                                                    </ul>
                                         </div>
                                         <div class="mm-service-content">
                                             <p>
                                                 "Teknolojik cihazların kullanımı ve farklı cihazlarla bağlantı sıklıkları arttıkça; virüslere maruz kalma oranı da arttı. Bu noktada devreye Anti virüs paketleri giriyor.BZM TeknoMarket mağazalarında kişisel bilgisayarlarınız, notebooklarınız, tabletiniz ve akıllı telefonunuz için güvenlik yazılımı ve kurulum hizmetini kapsayan McAfee anti virüs hizmet paketini sizlere sunuyoruz. "
                                             </p>
                                             <hr />
                                         </div>
                                     </div>



                                     <div class="mm-content-row">
                                         <div class="mm-icon-side">
                                             <ul class="mm-service-icon">

                                                 <img width="55" height="55" src="https://cdn-icons-png.flaticon.com/512/25/25324.png">
                                                 

                                                 <h2>İlk Kurulum Hizmeti </h2>
                                                 </ul>
                                         </div>
                                         <div class="mm-service-content">
                                             <p>
                                                 Günümüzde, teknolojik cihazların daha verimli kullanılabilmeleri için öncelikle ilk kurulumlarının doğru ve eksiksiz olarak yapılması gerekmektedir. Uzman personel tarafından yalnızca mağazalarımızda gerçekleştirilen bu kurulum hizmeti ile cihazlardan maksimum verim alınması sağlanır.Ürünlerinizin ilk kontrollerini yaparak, sizin için mağazamızda kullanıma hazır hale getiriyoruz.
                                             </p>
                                             <hr />
                                         </div>
                                     </div>



                                     <div class="mm-content-row">
                                         <div class="mm-icon-side">
                                             <ul class="mm-service-icon">

                                                 <img width="55" height="55" src="https://icon-library.com/images/icon-software/icon-software-17.jpg">

                                                 <h2>Yazılım Yükleme Hizmeti </h2>
                                         </div>
                                         <div class="mm-service-content">
                                             <p>
                                                 BZM TeknoMarket sitesinden satın alınmış mobil cihazlarınız ya da kişisel bilgisayarlarınıza; lisanslı ve orijinal yazılımları yüklüyor ve sizler için kullanıma hazır hale getiriyoruz.
                                             </p>
                                             <hr />
                                         </div>
                                     </div>



                                     <div class="mm-content-row">
                                         <div class="mm-icon-side">
                                             <ul class="mm-service-icon">

                                                 <img width="59" height="59" src="https://img2.pngindir.com/20180319/ybq/kisspng-laptop-computer-icons-maintenance-computer-repair-hardware-icon-5ab05ab4203650.488068411521506996132.jpg">

                                                 <h2>Onarım Hizmetleri </h2>
                                         </div>
                                         <div class="mm-service-content">
                                             <p>
                                                 BZM TeknoMarket'ten  aldığınız Akıllı Telefon, Tablet, Notebook gibi mobil cihazlarınızın; ekran, ana kart, şarj soketleri onarımları ile batarya, hoparlör, mikrofon değişimi gibi garanti dışı ihtiyaçlarınız için iş ortağımızın servisleri aracılığı ile mağazalarımızdan BZM TeknoMarket güvencesiyle hizmet alabilirsiniz.
                                             </p>
                                             <hr />
                                         </div>
                                     </div>



                                     <div class="mm-content-row">
                                         <div class="mm-icon-side">
                                             <ul class="mm-service-icon">

                                                 <img width="55" height="55" src="https://seeklogo.com/images/R/recycle-logo-A2DC7A4E5A-seeklogo.com.png" />

                                                 <h2>Elektronik Atık Geri Dönüşüm Hizmeti </h2>
                                         </div>
                                         <div class="mm-service-content">
                                             <p>
                                                 Türkiye çapında mağazalarımızın bulunduğu her ilde, satın aldığınız ürününüzü eve teslim ettikten sonra dilerseniz eski veya kullanmadığınız elektronik eşyalarınızı alıyor, mağazamıza getiriyoruz. Tamamen ücretsiz olan bu hizmetimiz yanı sıra; sizler de en yakın mağazalarımıza elektronik atıklarınızı getirebilir ve daha sürdürülebilir ve çevre dostu bir yaşama katkıda bulunabilirsiniz.
                                             </p>
                                             <hr />
                                         </div>
                                     </div>



                                     <div class="mm-content-row">
                                         <div class="mm-icon-side">
                                             <ul class="mm-service-icon">

                                                 <img width="55" height="55" src="https://w7.pngwing.com/pngs/236/549/png-transparent-about-contact-delete-file-personal-profile-business-finance-glyph-v-icon-thumbnail.png">

                                                 <h2>Kişisel Veri Yedekleme / Transferi Hizmeti </h2>
                                         </div>
                                         <div class="mm-service-content">
                                             <p>
                                                 "Mobil cihazlar, artık herkes için adeta kişisel bir arşiv. Yüzlerce rehber bilgisi, görüntü, fotoğraf ve ses dosyası bu cihazlarda saklanıyor ve en ufak bir sorunda hepsi yok olabiliyor. Mağazalarımızdan satın aldığınız cihazlarınızdaki dosyaların yedeklenerek verilerinizin silinmemesi ve kaybolmaması için başlattığımız bu hizmet ile hem yedekleme hem de farklı cihaza aktarma işlemini gerçekleştiriyoruz.
                                                 "
                                             </p>
                                             <hr />
                                         </div>
                                     </div>
                                 </div>



</html>

