
@{
    ViewBag.Title = "Kampanyalar";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Kampanyalar</h2>

<link href="~/vendor/Hizmetler.css" rel="stylesheet" />

<div class="container">

    <div>
        <img style="display: block; margin: auto;" src="https://www.casper.com.tr/uploads/2021/05/kampanya-anasayfa-kapak-1_op.webp" /> @*@ afiş ortalandı *@

        <hr />

        <h2 style="padding-left: 22px;">Kampanyalar Hakkında Genel Bilgilendirme </h2>
        <br>
        <li>
            Kampanyalar başka kampanyalarla, kupon ve sepet kurgularıyla birleştirilememektedir.
        </li>
        <li>
            BZM TeknoMarket tarafından düzenlenen tüm kampanyalar tüketicilere yöneliktir.
        </li>
        <li>
            Kampanyalardan ticari gaye ile yararlanıldığı ve ticari alımların tespiti halinde kampanya kapsamındaki sipariş iptal edilebilir.
        </li>
        <li>
            BZM TeknoMarket; kampanyalar sırasında oluşabilecek öngörülemeyen değişiklikler nedeniyle ürün , fiyat değişimi yapma ve kampanyayı son erdirme hakkını saklı tutar.

        </li>
        <br />
        <br />

        <h2 style="padding-left: 22px;"> BZM TeknoMarket Kampanyaları ve İndirimleri </h2>
        <p> BZM TeknoMarket kampanya sayfasını güncel olarak takip ederek tüm ihtiyaçlarınız için pek çok fırsata göz atabilirsiniz. Elektronik cihaz, bilgisayarlar cep telefonu gibi birçok üründe, etkileyici fiyatlar ve ürün seçeneklerine kampanyalar sayesinde ulaşmanız mümkün. BZM TeknoMarket'in cazip fiyat avantajları ve binlerce üründe gerçekleştirdiği indirimler, evinizin rahatlığında kolayca alışveriş yapabilmenize olanak tanıyor. MediaMarkt'ın müşterileri için özenle hazırladığı kampanyaların yer aldığı sayfada birçok ürün çeşidini bir arada bulabilir, seçenekleri değerlendirebilirsiniz.</p>


        <img style="display: block; margin: auto;" src="https://www.casper.com.tr/uploads/2022/03/kampanya-sayfasi-kapak-gorseli-2_op.webp" />

        <hr />

            </div>
