@model List<TeknoMarket.Models.Product>
@using System.Collections.Generic
@using TeknoMarket.Models


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<section class="bg-light my-5">
    <div class="container">
        <div class="row">
            <!-- cart -->
            <div class="col-lg-9">
                <div class="card border shadow-0">
                    <div class="m-4">
                        <h4 class="card-title mb-4">Alışveriş Sepetim</h4>
                        @{
                            List<Product> shopping_cart_list = ViewBag.getShoppingCartList;
                        }


                            @Html.Partial("SepetInner", shopping_cart_list)


                    </div>

                    <div class="border-top pt-4 mx-4 mb-4">
                        <p><i class="fas fa-truck text-muted fa-lg"></i> TeknoMarket olarak ürünlerimizi 1-2 hafta içinde ücretsiz teslimat ile adresinize gönderim sağlamaktayız.</p>
                    </div>
                </div>
            </div>
            <!-- cart -->
            <!-- summary -->
            <div class="col-lg-3">
                <div class="card mb-3 border shadow-0">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label class="form-label">Kupon Kodu</label>
                                <div class="input-group">
                                    <input type="text" class="form-control border" name="" placeholder="Kupon Kodunu buraya yazınız." />
                                    <button class="btn btn-light border">Uygula</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card shadow-0 border">
                    <div class="card-body">
                        @Html.Partial("SepetFiyatInner" , shopping_cart_list)

                        <div class="mt-3">
                            <a href="#" class="btn btn-success w-100 shadow-0 mb-2"> Sepeti Onayla </a>
                            <a href="#" class="btn btn-light w-100 border mt-2"> Alışverişe Devam Et </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- summary -->
        </div>
    </div>
</section>
<!-- cart + summary -->
<section>
    <div class="container my-5">
            <h3>Daha Fazla Öneri</h3>
        @{
            List<Product> list = ViewBag.getList;
        }
        @Html.Partial("OneriPartial", list)
    </div>
</section>
<!-- Recommended -->
<!-- Footer -->