
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="~/vendor/jquery-3.6.0.min.js"></script>
    <link href="~/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/style.css" rel="stylesheet" />
    <script src="~/vendor/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap.bundle.min.js"></script>
    <title>ForgotPass</title>
</head>
<body>

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="pb-5">

                                @*<h2 class="fw-bold mb-2 text-uppercase">Login</h2>*@
                                <img src="~/Images/teknomarket.png" style="height:10rem;width:10rem;"/ >
                                <h5 class="fw-bold mb-4 text-uppercase">Şifremi Unuttum</h5>
                                <div style="padding-right:1.5rem;padding-left:1.5rem">
                                    <div class="form-outline form-white mb-4" style="width:100%">
                                        <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="E-posta" />
                                    </div>

                                    <button class="btn btn-outline-light btn-lg" type="submit" style="width:100%"><span style="width:100%">Sıfırlama Postası Gönder</span></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
