

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="~/vendor/jquery-3.6.0.min.js"></script>
    <link href="~/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/style.css" rel="stylesheet" />
    <script src="~/vendor/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap.bundle.min.js"></script>
    <title>Register</title>

    <style>
        .loginLogo:hover {
            transform: scale(1.1);
        }
    </style>

</head>
<body>

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="pb-5">

                                @*<h2 class="fw-bold mb-2 text-uppercase">Login</h2>*@
                                <img src="~/Images/teknomarket.png" / style="height:15rem;width:15rem;">

                                <h4 class="fw-bold mb-4 text-uppercase">Kayıt Ol</h4>

                                <form class="form-group" method="post">
                                    <div class="form-group" method="post">
                                        <div class="row mb-4">
                                            <div class="col">
                                                <input type="text" name="typeisimX" id="typeisimX" class="form-control form-control-lg" placeholder="İsim" />
                                            </div>
                                            <div class="col">
                                                <input type="text" name="typeSoyisimX" id="typeSoyisimX" class="form-control form-control-lg" placeholder="Soyisim" />
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group" method="post">
                                        <div class="form-outline form-white mb-4">
                                            <input type="text" name="typeEmailX" id="typeEmailX" class="form-control form-control-lg" placeholder="E-posta" />
                                        </div>
                                    </div>

                                    <div class="form-group" method="post">
                                        <div class="form-outline form-white mb-4">
                                            <input type="password" name="typePasswordX" id="typePasswordX" class="form-control form-control-lg" placeholder="şifre" />
                                        </div>
                                    </div>
                                    <div class="form-group" method="post">
                                        <div class="form-outline form-white mb-4">
                                            <input type="password" name="typePasswordagainX" id="typePasswordagainX" class="form-control form-control-lg" placeholder="şifre tekrar" />
                                        </div>
                                    </div>
                                    <div class="form-group" method="post">
                                        <button onclick="myFunc()" class="btn btn-outline-light btn-lg px-5" type="submit">Kayıt Ol</button>
                                    </div>
                                </form>


                                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                    <a href="#!" class="text-white loginLogo" style="padding-right:1rem"><i class="bi bi-facebook" style="font-size: 40px; color: #4267B2"></i></a>
                                    <a href="#!" class="text-white loginLogo">
                                        <img src="~/Images/G.png" class="align-middle" style="height:43px;margin-top:11px" />
                                    </a>
                                </div>
                            </div>

                            <div>
                                <p class="mb-0">
                                    Hesabınız var mı ? <a href="/Login/Login" class="text-white-50 fw-bold">Giriş Yap</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @ViewBag.sendHata
    @ViewBag.test

</body>
</html>
