<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="~/vendor/jquery-3.6.0.min.js"></script>
    <link href="~/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/style.css" rel="stylesheet" />
    <script src="~/vendor/bootstrap.min.js"></script>
    <script src="~/vendor/bootstrap.bundle.min.js"></script>

    <title>@ViewBag.Title</title>

    <style>

        .footer-text:hover {
            color: #ff4444;
            text-decoration: underline;
        }

        .cdr:hover {
            color: #ff4444;
            text-decoration: underline;
        }

        .dropdown-menu > li:hover > .dropdown-submenu {
            display: block;
        }

        .dropdown-menu .dropdown-submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -1px;
        }

        .footer-text {
            text-decoration: none;
        }
    </style>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding:0">
        <div class="container">
            <a class="navbar-brand" href="/Home/Anasayfa">
                <img src="~/Images/teknomarket.png" class="logo" />
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100" style="padding-right:2rem;padding-left:2rem">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-success" type="submit">
                                <img src="~/Images/search.png" class="align-content-center" style="width:1rem" />
                            </button>
                        </form>
                    </li>
                    <li class="nav-item ms-auto" style="width: 12rem; padding-right: 1rem">
                        <a class="btn btn-outline-light w-100" href="/Login/Login" role="button">
                            <i class="bi bi-person-fill" style="margin-right:0.3rem"></i>Hesabım
                        </a>
                    </li>
                    <li class="nav-item" style="width:12rem;padding-right:1rem;">
                        <a class="btn btn-outline-light w-100" href="/Sepetim/Index" role="button">
                            <i class="bi bi-bag" style="margin-right:0.5rem"></i>Sepetim
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding:0">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <div class="dropdown h-100" style="padding-left:1.8rem;width:13rem;">
                            <a class="btn btn-danger dropdown-toggle h-100 kategori-checker w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"
                               style=" border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
                                <span class="">Kategoriler</span>
                            </a>

                            <ul class="dropdown-menu menu-1" aria-labelledby="dropdownMenuLink" style="width:15rem">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Bilgisayar Parçaları <i class="bi bparca-icon bi-caret-right-fill" style="float:right;"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-submenu" style="width:15rem">
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=işlemci">İşlemci</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=anakart">Anakart</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=ram">Ram</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=ekran-karti">Ekran Kartı</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=bilgisayar-kasasi">Bilgisayar Kasaları</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=Soğutucu">Soğutucular</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Çevre Bilimleri <i class="bi cevre-icon bi-caret-right-fill" style="float:right;"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-submenu" style="width:15rem">
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=Monitör">Monitör</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=Klavye">Klavye</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=Mouse">Mouse</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=Kulaklık">Kulaklık</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=mouse-pad">Mouse Pad</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=mikrofon">Mikrofon</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=kamera">Kamera</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=oyuncu-koltuklari">Oyuncu Koltukları</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Oyun ve Hobi <i class="bi oyun-icon bi-caret-right-fill" style="float:right;"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-submenu" style="width:15rem">
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=kontrolcu">Kontrolcüler</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=konsol">Konsollar</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">VR</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Aksesuarlar<i class="bi aksesuar-icon bi-caret-right-fill" style="float:right;"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-submenu" style="width:15rem">
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=sarj-aleti">Şarj Aletleri</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=canta">Çantalar</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/Category/Index?category=kablo">Kablolar</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Gaming Aksesuar</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cdr" href="/Hizmetler/Kampanyalar/" style="padding-left:2rem;">
                            <span>Kampanyalar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cdr" href="/Hizmetler/Index" style="padding-left:1rem">
                            Hizmetler
                        </a>
                    </li>
                    <li class="nav-item ms-auto" style="padding-right:1rem">
                        <a class="nav-link cdr" href="/Kargo/Index">
                            Sipariş Takip
                        </a>
                    </li>
                    <li class="nnav-item" style="padding-right:1rem">
                        <a class="nav-link cdr" href="/Contact/Index">
                            İletişim
                        </a>
                    </li>
                    <li class="nnav-item" style="padding-right:1rem">
                        <a class="nav-link cdr" href="/Admin/AddProduct">
                            Yönetici Panel
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
  

    <script>

        //$(".oyun-icon").hover(function () {
        //    $('.dropdown-submenu').addClass('show');

        //});

        //$(".dropdown-item").hover(function () {
        //    $("a.dropdown-item > i").addClass("bi-caret-right-fill");
        //    $(this).children().removeClass('bi-caret-right-fill');
        //    $(this).children().addClass('bi-caret-left');


        //});

        $(".dropdown-item").hover(function () {
            $(this).children().removeClass('bi-caret-right-fill');
            $(this).children().addClass('bi-caret-left');

        },
            function () {
                $(this).children().removeClass('bi-caret-left');
                $(this).children().addClass('bi-caret-right-fill');

            });




        $(".dropdown").hover(function () {
            timeout = setTimeout(function () {
                $('.menu-1').addClass('show');
                $('.kategori-checker').removeClass('btn-danger');
                $('.kategori-checker').addClass('btn-light');
            }, 200);

        },
            function () {
                timeout = setTimeout(function () {
                    $('.menu-1').removeClass('show');
                    $('.kategori-checker').addClass('btn-danger');
                    $('.kategori-checker').removeClass('btn-light');
                }, 200);

            });




    </script>


    <div>
        @RenderBody()
    </div>

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style="border-radius:100%;">
                    <i class="bi bi-facebook"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style="border-radius:100%">
                    <i class="bi bi-twitter"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style="border-radius:100%;">
                    <i class="bi bi-instagram"></i>
                </a>

                <!-- Google Play -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" style="border-radius:100%">
                    <i class="bi bi-google-play"></i>
                </a>

            </section>
            <!-- Section: Social media -->
            <!-- Section: Form -->
            <section class="">
                <form action="">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>Kampanyalardan haberdar olun</strong>
                            </p>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-md-5 col-12">
                            <!-- Email input -->
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example21" class="form-control" />
                                <label class="form-label" for="form5Example21">Email adresi</label>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-auto">
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-outline-light mb-4">
                                Abone Ol
                            </button>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
            </section>
            <!-- Section: Form -->
            <!-- Section: Text -->
            <section class="mb-4">
                <p>
                    BZM TeknoMarket, oyun tutkunlarına yönelik ekipmanlar satan bir firma olarak sektörde lider olma
                    hedefiyle faaliyet göstermektedir. Kalite, güvenilirlik ve müşteri memnuniyeti odaklı çalışma prensipleriyle
                    hareket eden BZM TeknoMarket, müşterilerine en kaliteli ürünleri en uygun fiyatlarla sunarak sektördeki
                    rakiplerine öncülük etmektedir.
                </p>
            </section>
            <!-- Section: Text -->
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">TeknoMarket.com</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white footer-text">Hakkımızda</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white footer-text">Kariyer</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white footer-text">Mağazamız</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white footer-text">Bize Ulaşın</a>
                            </li>
                            <li>
                                <a href="#!" class="text-white footer-text">Duyurular</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Popüler Ürünler</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/Category/Index?category=ekran-karti" class="text-white footer-text">NVIDIA RTX 3080Ti</a>
                            </li>
                            <li>
                                <a href="/Category/Index?category=Mouse" class="text-white footer-text">Logitech G300</a>
                            </li>
                            <li>
                                <a href="/Category/Index?category=işlemci" class="text-white footer-text">AMD Ryzen 5</a>
                            </li>
                            <li>
                                <a href="/Category/Index?category=konsol" class="text-white footer-text">Playstation 5</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Kategoriler</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/Category/Index?category=bilgisayar-kasasi" class="text-white footer-text">Hazır Sistemler</a>
                            </li>
                            <li>
                                <a href="/Category/Index?category=bilgisayar-kasasi" class="text-white footer-text">Bilgisayar Toplama</a>
                            </li>
                            <li>
                                <a href="/Category/Index?category=bilgisayar-kasasi" class="text-white footer-text">Gaming Notebooklar</a>
                            </li>
                            <li>
                                <a href="/Category/Index?category=Monitör" class="text-white footer-text">Gaming Monitörler</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">İşlem Rehberi</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/Login/Login" class="text-white footer-text">Giriş</a>
                            </li>
                            <li>
                                <a href="/Login/Register" class="text-white footer-text">Kayıt Ol</a>
                            </li>
                            <li>
                                <a href="/Sepetim/Index" class="text-white footer-text">Sipariş</a>
                            </li>
                            <li>
                                <a href="/Home/Anasayfa" class="text-white footer-text">Ödeme Seçenekleri</a>
                            </li>
                            <li>
                                <a href="/Home/Anasayfa" class="text-white footer-text">Ödeme ve Güvenlik</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">teknomarket.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>
</html>
