@model List<TeknoMarket.Models.Product>
@using System.Collections.Generic
@using TeknoMarket.Models


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<section class="bg-light my-5">
    <div class="container">
        <div class="row">
            <!-- cart -->
            <div class="col-lg-12">
                <div class="card border shadow-0">
                    <div class="m-4">
                        <h4 class="card-title mb-4">Favorilerim</h4>
                        @{
                            List<Product> favoriteList = ViewBag.getFavoriteList;
                        }

                        @Html.Partial("favoriInner", favoriteList)
                    </div>

                    <div class="border-top pt-4 mx-4 mb-4">
                        <p><i class="fas fa-truck text-muted fa-lg"></i> TeknoMarket olarak ürünlerimizi 1-2 hafta içinde ücretsiz teslimat ile adresinize gönderim sağlamaktayız.</p>
                    </div>
                </div>
            </div>
            <!-- cart -->
        </div>
        <section>
            <div class="container my-5">
                <h3>Daha Fazla Öneri</h3>
                @{
                    List<Product> list = ViewBag.getList;
                }
                @Html.Partial("favoriOneriPartial", list)
            </div>
        </section>
    </div>
</section>